{
	"presets": [
		["env", {
			"modules": false,
			"targets": {
				"node": "current",
				"browsers": "> 5%"
			},
			"useBuiltIns": true
		}],
		"react",
		"stage-2"
	],
	"plugins": [
		"emotion",
		"tailcall-optimization"
	],
	"env": {
		"test": {
			"presets": [
				["env", {
					"targets": {
						"node": "current",
						"browsers": "> 5%"
					},
					"useBuiltIns": true
				}], "react", "stage-2"
			],
			"plugins": [
				"emotion",
				"tailcall-optimization",
				"add-module-exports"
			]
		}
	}
}