{
	"presets": [
		["env", {
			"modules": false,
			"targets": {
				"node": "current",
				"browsers": "> 5%"
			},
			"useBuiltIns": true
		}],
		"react",
		"stage-2"
	],
	"env": {
		"development": {
			"plugins": [
				"styled-components",
				"tailcall-optimization"
			],	
		},
		"production": {
			"plugins": [
				["styled-components", {
					"ssr": true
				}],
				"polished",
				"tailcall-optimization"
			],
		},
		"test": {
			"presets": [
				["env", {
					"targets": {
						"node": "current",
						"browsers": "> 5%"
					},
					"useBuiltIns": true
				}], "react", "stage-2"
			],
			"plugins": [
				"styled-components",
				"tailcall-optimization",
				"add-module-exports"
			]
		}
	}
}